.grid {
    position: absolute;
    width: 600px;
    height: 300px;
    border: solid black 1px;
}
.block {
    width: 100px;
    height: 20px;
    background-color: blue;
    position: absolute;
    left: 50px;
    bottom: 50px;
}

.user {
    width: 100px;
    height: 20px;
    background-color: red;
    position: absolute;
    left: 50px;
    bottom: 50px;
}
  
.ball {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: purple;
  }